body {
  background-image: url("http://wallpapercave.com/wp/del3JsT.jpg");
  background-repeat: no-repeat;
  background-position: top-center;
}
h1{
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: Courier;
}
h3{
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  color: white;
}
ul{
  font-size: 25px;
  font-align: center;
}
